
<div>
  <app-topo></app-topo>
</div>

<div class="container-fluid fonte">
  <div class="row ">

    <div class="col" id="fundo">
      <app-foto></app-foto>
    </div>

    <div class="col configcontainer" style="text-align: justify;">

    <div class="tamanhodivb">
      <app-sobre></app-sobre>
    </div>

    <div class="tamanhodivc">
      <app-objetivo></app-objetivo>
    </div>

    <div class="tamanhodivb">
      <app-experiencia></app-experiencia>
    </div>

    <div class="tamanhodivc">
      <app-formacao></app-formacao>
    </div>

    </div>

  </div>

</div>

