<h1 style="text-align: center;"><img src="/assets/experiencia.png" width="30" height="30" class="d-inline-block align-center"> Experiências profissionais</h1><br />

<p><img src="/assets/borrao.png" width="30" height="30" class="d-inline-block align-center"> Analista de Infraestrutura de TI - Zup Innovation (2020-Atual)</p>
<p><img src="/assets/borrao.png" width="30" height="30" class="d-inline-block align-center"> Analista de Infraestrutura de TI - Crosoften Tecnologia (2018-2020)</p>
<p><img src="/assets/borrao.png" width="30" height="30" class="d-inline-block align-center"> Coordenador de TI Jr - InfoAlto Empresa Jr (2014-2016)</p>
<p><img src="/assets/borrao.png" width="30" height="30" class="d-inline-block align-center"> Estágio em gerência de rede - DPRF - Departamento de Policia Rodoviária Federal (2013-2014)</p>
<p><img src="/assets/borrao.png" width="30" height="30" class="d-inline-block align-center"> Auxiliar Financeiro - Construtora Sanenco LTDA (2010-2013)</p>
<p><img src="/assets/borrao.png" width="30" height="30" class="d-inline-block align-center"> Auxiliar Administrativo - Memotec LTDA (2009-2010)</p>
